In [1]:
import pandas as pd

In [14]:
a = pd.read_excel("selecciones_automaticas.xlsx", header=0)
a.head(5)

,Unnamed: 0,17_vuelo_agosto-13 (SENTERA V1),17_vuelo_agosto-13 (SENTERA V2),18_vuelo_agosto-19 (SENTERA V1),19_vuelo_setiembre-15 (SENTERA V1),20_vuelo_setiembre-24 (SENTERA V1)
0,Basename,Selected_basenames,Selected_basenames,Selected_basenames,Selected_basenames,Selected_basenames
1,A01.jpg,['IMG_00062.jpg'],['IMG_00060.jpg'],['IMG_00046.jpg'],['IMG_00088.jpg'],['IMG_00057.jpg']
2,A02.jpg,['IMG_00066.jpg'],['IMG_00066.jpg'],['IMG_00050.jpg'],['IMG_00091.jpg'],['IMG_00062.jpg']
3,A03.jpg,['IMG_00069.jpg'],['IMG_00069.jpg'],['IMG_00052.jpg'],['IMG_00094.jpg'],['IMG_00064.jpg']
4,A04.jpg,['IMG_00073.jpg'],['IMG_00072.jpg'],['IMG_00057.jpg'],['IMG_00098.jpg'],['IMG_00067.jpg']

In [16]:
a = pd.read_excel("selecciones_automaticas.xlsx", header=1)
a.head(20)

,Basename,Selected_basenames,Selected_basenames.1,Selected_basenames.2,Selected_basenames.3,Selected_basenames.4
0,A01.jpg,['IMG_00062.jpg'],['IMG_00060.jpg'],['IMG_00046.jpg'],['IMG_00088.jpg'],['IMG_00057.jpg']
1,A02.jpg,['IMG_00066.jpg'],['IMG_00066.jpg'],['IMG_00050.jpg'],['IMG_00091.jpg'],['IMG_00062.jpg']
2,A03.jpg,['IMG_00069.jpg'],['IMG_00069.jpg'],['IMG_00052.jpg'],['IMG_00094.jpg'],['IMG_00064.jpg']
3,A04.jpg,['IMG_00073.jpg'],['IMG_00072.jpg'],['IMG_00057.jpg'],['IMG_00098.jpg'],['IMG_00067.jpg']
4,A05.jpg,['IMG_00077.jpg'],['IMG_00076.jpg'],['IMG_00060.jpg'],['IMG_00102.jpg'],['IMG_00071.jpg']
5,A06.jpg,['IMG_00080.jpg'],['IMG_00079.jpg'],['IMG_00063.jpg'],['IMG_00105.jpg'],['IMG_00073.jpg']
6,A07.jpg,['IMG_00084.jpg'],['IMG_00083.jpg'],['IMG_00067.jpg'],['IMG_00109.jpg'],['IMG_00076.jpg']
7,A08.jpg,['IMG_00088.jpg'],['IMG_00087.jpg'],['IMG_00071.jpg'],['IMG_00113.jpg'],['IMG_00080.jpg']
8,A09.jpg,['IMG_00091.jpg'],['IMG_00090.jpg'],['IMG_00074.jpg'],['IMG_00116.jpg'],['IMG_00082.jpg']
9,A10.jpg,['IMG_00100.jpg'],['IMG_00099.jpg'],['IMG_00083.jpg'],['IMG_00125.jpg'],['IMG_00090.jpg']
10,A11.jpg,['IMG_00103.jpg'],['IMG_00103.jpg'],['IMG_00087.jpg'],['IMG_00128.jpg'],['IMG_00093.jpg']
11,A12.jpg,NaN,NaN,NaN,NaN,NaN
12,A13.jpg,['IMG_00110.jpg'],['IMG_00109.jpg'],['IMG_00094.jpg'],['IMG_00135.jpg'],['IMG_00098.jpg']
13,A14.jpg,['IMG_00114.jpg'],['IMG_00113.jpg'],['IMG_00097.jpg'],['IMG_00139.jpg'],['IMG_00102.jpg']
14,A15.jpg,['IMG_00117.jpg'],['IMG_00116.jpg'],['IMG_00101.jpg'],['IMG_00143.jpg'],['IMG_00104.jpg']
15,A16.jpg,['IMG_00121.jpg'],['IMG_00120.jpg'],['IMG_00104.jpg'],['IMG_00146.jpg'],['IMG_00107.jpg']
16,A17.jpg,['IMG_00124.jpg'],['IMG_00124.jpg'],['IMG_00108.jpg'],['IMG_00150.jpg'],['IMG_00110.jpg']
17,A18.jpg,['IMG_00128.jpg'],['IMG_00127.jpg'],['IMG_00111.jpg'],['IMG_00153.jpg'],['IMG_00113.jpg']
18,A19.jpg,['IMG_00132.jpg'],['IMG_00131.jpg'],['IMG_00115.jpg'],['IMG_00157.jpg'],['IMG_00116.jpg']
19,A20.jpg,['IMG_00134.jpg'],['IMG_00133.jpg'],['IMG_00118.jpg'],['IMG_00159.jpg'],['IMG_00117.jpg']