In [8]:
import numpy as np
import pandas as pd
meta_df = pd.read_csv('C:\\Users\\abdig\\Downloads\\metadata.csv', index_col=0)

In [9]:
meta_df

,ID,lab_mean,lab_std,lab_mode,hsv_mean,hsv_std,hsv_mode,black_per,hour,date,Y
0,11_junio_1_10_A,5.579561,2.392275,6.113646,0.289046,0.080507,0.359928,0.271260,13,11_junio,N_Control
1,11_junio_1_10_B,6.014204,2.194136,6.112457,0.285616,0.089140,0.359079,0.240148,13,11_junio,P_Control
2,11_junio_1_10_C,5.565204,2.388955,6.112457,0.279931,0.070453,0.300556,0.249660,13,11_junio,K_Control
3,11_junio_1_10_D,5.603238,2.373519,6.112457,0.288891,0.058296,0.281048,0.220348,13,11_junio,Control
4,11_junio_1_10_E,5.942148,2.292411,6.112457,0.267263,0.090707,0.360951,0.206660,13,11_junio,H50%
...,...,...,...,...,...,...,...,...,...,...,...
2641,29_marzo_2_9_C,5.501778,2.294248,5.615772,0.219387,0.074460,0.186111,0.239337,13,29_marzo,K_Control
2642,29_marzo_2_9_D,4.585215,2.236201,2.528976,0.255162,0.060826,0.272256,0.257425,13,29_marzo,Control
2643,29_marzo_2_9_E,5.246325,2.243122,4.819172,0.265598,0.085237,0.265514,0.224837,13,29_marzo,H50%
2644,29_marzo_2_9_F,4.818452,2.308415,2.528948,0.264396,0.084294,0.272465,0.245659,13,29_marzo,H75%
2645,29_marzo_2_9_G,5.166878,2.302238,2.828055,0.274735,0.079753,0.272718,0.187654,13,29_marzo,Control