In [10]:
import pandas as pd
import os
import numpy as np
from shutil import copy2

In [26]:
ndf = pd.read_excel('../selecciones_automaticas.xlsx', index_col=0)
ndf.drop(labels = "Basename", axis = 0, inplace=True)
ndf.head(3)

,17_vuelo_agosto-13 (SENTERA V1),17_vuelo_agosto-13 (SENTERA V2),18_vuelo_agosto-19 (SENTERA V1),19_vuelo_setiembre-15 (SENTERA V1),20_vuelo_setiembre-24 (SENTERA V1)
A01.jpg,['IMG_00062.jpg'],['IMG_00060.jpg'],['IMG_00046.jpg'],['IMG_00088.jpg'],['IMG_00057.jpg']
A02.jpg,['IMG_00066.jpg'],['IMG_00066.jpg'],['IMG_00050.jpg'],['IMG_00091.jpg'],['IMG_00062.jpg']
A03.jpg,['IMG_00069.jpg'],['IMG_00069.jpg'],['IMG_00052.jpg'],['IMG_00094.jpg'],['IMG_00064.jpg']

In [23]:
ndf.columns

Index(['17_vuelo_agosto-13 (SENTERA V1)', '17_vuelo_agosto-13 (SENTERA V2)',
       '18_vuelo_agosto-19 (SENTERA V1)',
       '19_vuelo_setiembre-15 (SENTERA V1) ',
       '20_vuelo_setiembre-24 (SENTERA V1) '],
      dtype='object')

In [8]:
s = "A01"
int(s[1:])

1

In [28]:
PATH = "C://UNI//Paltas"
TARGET_PATH = "C://UNI//Paltas//LABELED_SENTERA"
if not(os.path.isdir(TARGET_PATH)):
    os.mkdir(TARGET_PATH)
for i in ndf.index:
    j = ndf.loc[i, :]
    for k in range(len(j)):
        fo = j.index[k]
        
        
        #fo = 17_vuelo_agosto-13 (SENTERA V1)
        date_num = fo.split("-")[-1]
        date_num = int(date_num.split(" ")[0])
        date_month = fo.split("-")[0]
        date_month = date_month.split("_")[-1]
        version = fo.split(" ")[-1]
        #print(fo, version)
        version = int(version[1])
        fold = str(date_num)+"_"+date_month+"_"+str(version)
        #fold = 2_julio_1
        
        
        #fila = A01
        fila = i.split(".")[0]
        fila = fila[0]
        n_arbol = i.split(".")[0]
        n_arbol = int(n_arbol[1:])
        c_arbol = "arbol_" + str(n_arbol) + "_fila_" + fila
        #c_arbol = arbol_1_fila_A
        
        
        imn = j.values[k]
        
        
        #IMG_00062.jpg
        
        g_p = os.path.join(PATH, fo)
        if os.path.isdir(g_p) and not(pd.isnull(imn)):
            imn = imn[2:-2]
            if not(os.path.isdir(os.path.join(TARGET_PATH, fold))):
                os.mkdir(os.path.join(TARGET_PATH, fold))
                os.mkdir(os.path.join(TARGET_PATH, fold, 'RGB'))
                os.mkdir(os.path.join(TARGET_PATH, fold, 'NIR'))
                
            copy2(os.path.join(g_p, "RGB", imn), os.path.join(TARGET_PATH, fold, "RGB", fold+"__"+c_arbol+".JPG"))
            copy2(os.path.join(g_p, "NIR", imn), os.path.join(TARGET_PATH, fold, "NIR", fold+"__"+c_arbol+".JPG"))
            
            #print(j.index[k], str(j.values[k][1:-1]))

In [18]:
version = "V1)"
int(version[1])

1

In [71]:
pd.isnull(ndf.loc["A12.jpg", "17_vuelo_agosto-13 (SENTERA V1)"])

True

In [15]:
s ="['IMG_00062.jpg']"
type(s[2:-2])

str